#taurus{
    width: 500px;
    height: 500px;
    margin: 3px;
}

#leo{
    width: 500px;
    height: 500px;
}

#scorpio{
    width: 500px;
    height: 500px;
}

.images{
    display:inline-flex; 
    margin: 12px;
 }
 
 h1{
    text-align: center;
 }
 
 .pInfo{
    display: inline-flex;
 }

 p{
    width: 450px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 3px double blue;
 }