.logIn{
    display: block;
    border: 3px solid black;
    margin-left: 40px; 
}

.logIn div{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.logIn div a {
    text-decoration: none;
    font-size: 12px;
}

#btn1{
    width: 170px;
    background-color:  rgb(26, 75, 220);
}

#btn2{
    width: 120px;
    font-size: 10px;
    background-color: rgb(36, 230, 36);
    color: white;

}

.fullPage{
    display:flex;
    justify-content: center;
    margin-top: 300px;
}

.facebookSlogan{
    width: 300px;
    text-align: center;
    margin-right: 200px;
}

.facebookSlogan h1{
    background-color:  rgb(26, 75, 220);
    color: rgb(249, 250, 249);
    text-align: center;
}

.facebookSlogan h1:hover{
    background-color: rgb(249, 250, 249);
    color: rgb(26, 75, 220);
    border: 3px solid rgb(26, 75, 220);
}
